@charset 'UTF-8';

@use '../../node_modules/normalize.css/normalize.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgba(black, 0.4);
	font-family: 'Mountains of Christmas', cursive;
	overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('../res/img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
  }
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.headline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20vw;
  color: white;
  mix-blend-mode: overlay;
}

.credits {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 20px;
}

$size: 200px;

.gift {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  width: 60vw;
  height: auto;
  transform: translate3d(-50%, -50%, 0) rotateY(0) rotateX(0) scale(0);
  transition: all 3s ease-out .5s;
}

.present {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: $size;
	height: $size;
	margin: 0 auto;
	perspective: 600px;
	transform: translateY(-50%);
}

.rotate-container {
	height: 100%;
	transform: rotateY(170deg);
	transform-style: preserve-3d;
	animation: present-rotate 30s infinite linear;
}

@keyframes present-rotate {
	0% { transform: rotateY(0); }
	100% { transform: rotateY(360deg); }
}

.bottom,
.front,
.left,
.back,
.right {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #111;
}

.bottom {
	transform: translateY(50%) rotateX(90deg);
}

.front,
.left,
.back,
.right {
	transition: transform 1s ease-out 3s;
	transform-origin: bottom;
	transform-style: preserve-3d;
}

.front,
.left,
.back,
.right,
.lid-top,
.lid-front,
.lid-left,
.lid-back,
.lid-right{
	&:after {
		content: '';
		position: absolute;
		left: calc(50% - 10px);
		width: 20px;
		height: 100%;
		background-color: white;
		transform: translateZ(.1px);
	}
}

.lid-top {
	&:before {
		content: '';
		position: absolute;
		top: calc(50% - 10px);
		left: 0;
		width: 100%;
		height: 20px;
		background-color: white;
		transform: translateZ(.1px);
	}
}

.left { transform: translateX(-50%) rotateY(-90deg); }
.back { transform: translateZ(-$size / 2) rotateY(180deg) rotateX(0); }
.right { transform: translateX(50%) rotateY(90deg); }
.front { transform: translateZ($size / 2); }


.lid {
	animation: lid-animation 3.5s 1s infinite;
	transform: translate3d(0, 0, 0);
	transform-style: preserve-3d;
	transition: transform 1s ease-out 3s;
}

@keyframes lid-animation {
	0% { transform: translate3d(0, 0, 0) rotateX(0); }
	5% { transform: translate3d(0, -10px, -5px) rotateX(5deg); }
	10% { transform: translate3d(0, -10px, 5px) rotateX(-5deg); }
	15% { transform: translate3d(0, -10px, -5px) rotateX(5deg); }
	20% { transform: translate3d(0, -10px, 5px) rotateX(-5deg); }
	25% { transform: translate3d(0, -10px, -5px) rotateX(5deg); }
	30% { transform: translate3d(0, 0, 0) rotateX(0); }
}

.lid-top,
.lid-left,
.lid-back,
.lid-right,
.lid-front {
	position: absolute;
	top: 0;
	left: -5px;
	width: $size + 10px;
	background-color: #222;
	opacity: 1;
}

.lid-top {
	top: -5px;
	height: $size + 10px;
	transform: translateY(-50%) rotateX(90deg);
	transform-style: preserve-3d;
}

.lid-left,
.lid-back,
.lid-right,
.lid-front {
	top: -5px;
	height: 40px;
	transform-style: preserve-3d;
}

.lid-left { transform: translateX(-50%) rotateY(-90deg); }
.lid-back { transform: translateZ(-$size / 2 - 5px) rotateY(180deg); }
.lid-right { transform: translateX(50%) rotateY(90deg); }
.lid-front { transform: translateZ($size / 2 + 5px); }

.present:hover {
	.lid {
		animation: none;
		// transform: translate3d(0, -40px, -10px) rotateX(10deg);
	}
}

.present.open {
	.gift {
    transform: translate3d(-50%, -50%, 100px) rotateY(360deg) rotateX(5deg) scale(1);
  }

	.left { transform: translateX(-50%) rotateY(-90deg) rotateX(-90deg); }
	.back { transform: translateZ(-$size / 2) rotateY(180deg) rotateX(-90deg); }
	.right { transform: translateX(50%) rotateY(90deg) rotateX(-90deg); }
	.front { transform: translateZ($size / 2) rotateX(-90deg); }

	.lid {
		animation: none;
		transform: translate3d(0, -120px, -120px) rotateX(50deg);
	}

  .front,
  .left,
  .back,
  .right,
  .lid {
    transition: transform .5s ease-out;
  }
}
